Repository Cruz1122/rout2me: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix: correct lint-staged config and add exhaustive-deps disable
  .lintstagedrc.json
  apps/passenger-app/src/hooks/useMapResize.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

fix: lint errors for CI/CD
  apps/passenger-app/src/components/UserLocationDebug.tsx
  apps/passenger-app/src/hooks/useDebounce.ts
  apps/passenger-app/src/hooks/useMapResize.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

docs: update README to include future backend plans and data integration details
  apps/passenger-app/README.md
Due: none

feat: add HomePage, routing and Vehicles management with Create Vehicle modal and validations
  apps/admin-web/package.json
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/main.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
  apps/admin-web/tsconfig.app.json
  pnpm-lock.yaml
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(shared,docs): mini SDK de Buses (listar/crear) + guía Front (Auth + Buses) + envs
  docs/FRONT-API.md
  packages/shared/package.json
  packages/shared/src/api/auth.ts
  packages/shared/src/api/buses.ts
  packages/shared/src/index.ts
  packages/shared/src/supabaseClient.ts
  pnpm-lock.yaml
Due: none

fix: add map optimization
  apps/passenger-app/index.html
  apps/passenger-app/src/components/R2MMapInfoCard.tsx
  apps/passenger-app/src/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: implement routing with login page and enhance global loading indicator
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/components/R2MButton.css
  apps/passenger-app/src/components/R2MButton.tsx
  apps/passenger-app/src/components/R2MInput.css
  apps/passenger-app/src/components/R2MInput.tsx
  apps/passenger-app/src/components/R2MTextLink.css
  apps/passenger-app/src/components/R2MTextLink.tsx
  apps/passenger-app/src/index.css
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/LoginPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance route management with coordinates and color attributes
  apps/passenger-app/src/components/RouteAnimation.tsx
  apps/passenger-app/src/data/mocks.ts
  apps/passenger-app/src/data/routesMock.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/services/mapMatchingService.ts
  apps/passenger-app/src/types/search.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: streamline route drawing logic and enhance layer management
  apps/passenger-app/src/hooks/useRouteDrawing.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: implement map matching and enhance route visualization
  apps/passenger-app/README.md
  apps/passenger-app/src/data/mocks.ts
  apps/passenger-app/src/data/routesMock.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/services/mapMatchingService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: initialize cache services and enhance ProfilePage with cache management
  apps/passenger-app/README_CACHE.md
  apps/passenger-app/src/components/CacheManager.tsx
  apps/passenger-app/src/config/cacheConfig.ts
  apps/passenger-app/src/config/developmentConfig.ts
  apps/passenger-app/src/config/serviceWorkerConfig.ts
  apps/passenger-app/src/docs/CACHE_SYSTEM.md
  apps/passenger-app/src/hooks/useCache.ts
  apps/passenger-app/src/hooks/useMapCache.ts
  apps/passenger-app/src/main.tsx
  apps/passenger-app/src/pages/ProfilePage.tsx
  apps/passenger-app/src/services/assetPreloader.ts
  apps/passenger-app/src/services/cacheCleanupService.ts
  apps/passenger-app/src/services/cacheService.ts
  apps/passenger-app/src/services/cacheStrategyService.ts
  apps/passenger-app/src/services/imageCacheService.ts
  apps/passenger-app/src/services/mapTileCacheService.ts
  apps/passenger-app/src/services/serviceWorkerService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: update development environment checks and improve error handling in cache services
  apps/passenger-app/src/components/RouteAnimation.tsx
  apps/passenger-app/src/config/developmentConfig.ts
  apps/passenger-app/src/config/serviceWorkerConfig.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/services/assetPreloader.ts
  apps/passenger-app/src/services/cacheCleanupService.ts
  apps/passenger-app/src/services/cacheService.ts
  apps/passenger-app/src/services/cacheStrategyService.ts
  apps/passenger-app/src/services/imageCacheService.ts
  apps/passenger-app/src/services/serviceWorkerService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: hardcode color and width attributes in route drawing logic
  apps/passenger-app/src/hooks/useRouteDrawing.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: add registration page and enhance R2MInput component
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/components/R2MInput.css
  apps/passenger-app/src/components/R2MInput.tsx
  apps/passenger-app/src/pages/LoginPage.tsx
  apps/passenger-app/src/pages/RegisterPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance RegisterPage with dynamic navigation buttons and improve R2MButton styling
  apps/passenger-app/src/components/R2MButton.tsx
  apps/passenger-app/src/components/R2MInput.css
  apps/passenger-app/src/components/R2MInput.tsx
  apps/passenger-app/src/pages/RegisterPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: add TwoFAPage component and integrate into routing
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/pages/TwoFAPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: update input reference assignment in TwoFAPage component
  apps/passenger-app/src/pages/TwoFAPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: update imports and remove unused busesMock data
  apps/passenger-app/src/components/CacheManager.tsx
  apps/passenger-app/src/data/busesMock.ts
  apps/passenger-app/src/data/userLocationMock.ts
  apps/passenger-app/src/hooks/useUserLocation.ts
  apps/passenger-app/src/pages/LivePage.tsx
  apps/passenger-app/src/pages/ProfilePage.tsx
  apps/passenger-app/src/services/busService.ts
  apps/passenger-app/src/utils/busUtils.ts
  apps/passenger-app/src/utils/distanceUtils.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

chore: update pnpm-lock.yaml with new type definitions
  pnpm-lock.yaml
Due: none

fix: ci lint of passenger-app corrected by changing any types
  apps/passenger-app/src/components/CacheManager.tsx
  apps/passenger-app/src/config/cacheConfig.ts
  apps/passenger-app/src/hooks/useCache.ts
  apps/passenger-app/src/services/assetPreloader.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

chore: update pnpm-lock.yaml and package.json with new @types/node version
  apps/passenger-app/src/hooks/useCache.ts
  packages/shared/package.json
  pnpm-lock.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance passenger-app with updated login and registration flows
  .gitignore
  apps/passenger-app/index.html
  apps/passenger-app/public/icon-metadata.webp
  apps/passenger-app/public/icon.webp
  apps/passenger-app/public/sw.js
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/components/R2MCodeInput.tsx
  apps/passenger-app/src/components/R2MTextLink.tsx
  apps/passenger-app/src/pages/LoginPage.tsx
  apps/passenger-app/src/pages/RegisterPage.tsx
  apps/passenger-app/src/pages/TwoFAPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

Fix typo in project name from 'Route2Me' to 'Rout2Me'
  README.md
Due: none

refactor: update mock data and integrate real routes into search functionality
  apps/passenger-app/src/data/mocks.ts
  apps/passenger-app/src/data/routesMock.ts
  apps/passenger-app/src/hooks/useMapCache.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/hooks/useSearch.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
  apps/passenger-app/src/services/busService.ts
  apps/passenger-app/src/services/mapMatchingService.ts
  apps/passenger-app/src/services/mapTileCacheService.ts
  apps/passenger-app/src/services/routeService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance route drawing functionality with stop management
  apps/passenger-app/CORRECCION_API.md
  apps/passenger-app/IMPLEMENTACION_PARADAS.md
  apps/passenger-app/README_ROUTES_SYSTEM.md
  apps/passenger-app/src/debug/apiTest.ts
  apps/passenger-app/src/debug/paradasDebug.ts
  apps/passenger-app/src/examples/routeWithStopsExample.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/hooks/useSearch.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
  apps/passenger-app/src/services/routeService.ts
  apps/passenger-app/src/types/search.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Autenticación completa y gestión de vehículos con API Supabase
  apps/admin-web/src/api/auth_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/ProtectedRoute.tsx
  apps/admin-web/src/components/PublicRoute.tsx
  apps/admin-web/src/context/AuthContext.tsx
  apps/admin-web/src/lib/supabase.ts
  apps/admin-web/src/main.tsx
  apps/admin-web/src/pages/AuthCallback.tsx
  apps/admin-web/src/pages/EmailVerified.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

UPDATE: actualización del ReadMe
  apps/admin-web/README.md
Due: none

feat: implement route detail modal and enhance route selection experience
  apps/passenger-app/src/hooks/useRouteDrawing.ts
  apps/passenger-app/src/index.css
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: simplify AnimatedTabIcon component and enhance tab selection logic
  apps/passenger-app/src/components/AnimatedTabIcon.css
  apps/passenger-app/src/components/AnimatedTabIcon.tsx
  apps/passenger-app/src/hooks/useActiveTab.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/ProfilePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
  apps/passenger-app/src/theme/tabs.css
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: add location permission and welcome pages, enhance user location handling
  apps/passenger-app/public/onboarding.png
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/hooks/useLocationPermission.ts
  apps/passenger-app/src/hooks/useUserLocation.ts
  apps/passenger-app/src/pages/LivePage.tsx
  apps/passenger-app/src/pages/LocationPermissionPage.tsx
  apps/passenger-app/src/pages/LoginPage.tsx
  apps/passenger-app/src/pages/RegisterPage.tsx
  apps/passenger-app/src/pages/WelcomePage.tsx
  apps/passenger-app/src/services/busService.ts
  apps/passenger-app/src/utils/busUtils.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance HomePage and LivePage with bus loading functionality
  apps/passenger-app/src/components/R2MModal.tsx
  apps/passenger-app/src/hooks/useBusMapping.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/LivePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: simplify popup creation in useBusMapping and useRouteDrawing hooks
  apps/passenger-app/src/components/R2MPopup.tsx
  apps/passenger-app/src/hooks/useBusMapping.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: implement caching system and optimize route fetching
  apps/passenger-app/CORRECCION_API.md
  apps/passenger-app/IMPLEMENTACION_PARADAS.md
  apps/passenger-app/README_CACHE.md
  apps/passenger-app/src/docs/CACHE_SYSTEM.md
  apps/passenger-app/src/docs/CORRECCION_API.md
  apps/passenger-app/src/docs/IMPLEMENTACION_PARADAS.md
  apps/passenger-app/src/docs/README.md
  apps/passenger-app/src/docs/README_ROUTES_SYSTEM.md
  apps/passenger-app/src/examples/routeWithStopsExample.ts
  apps/passenger-app/src/hooks/useSearch.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/pages/RoutesPage.tsx
  apps/passenger-app/src/services/busService.ts
  apps/passenger-app/src/services/routeService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: enhance Vite configuration and improve user location handling
  apps/passenger-app/src/components/R2MModal.tsx
  apps/passenger-app/src/components/UserLocationDebug.tsx
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/vite.config.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

chore: update CI workflow and refactor error handling in HomePage
  .github/workflows/ci.yml
  apps/passenger-app/src/components/R2MPopup.tsx
  apps/passenger-app/src/debug/apiTest.ts
  apps/passenger-app/src/debug/paradasDebug.ts
  apps/passenger-app/src/pages/HomePage.tsx
  apps/passenger-app/src/utils/popupUtils.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: update popup utility imports in hooks
  apps/passenger-app/src/hooks/useBusMapping.ts
  apps/passenger-app/src/hooks/useRouteDrawing.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

chore: enhance CI workflow with multiple build jobs and caching
  .github/workflows/ci.yml
Due: none

FEATURE: se agrego la celda de multi eleccion de las compañias en el modal de vehiculos
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: enhance authentication flow and error handling in Login and Register pages
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/components/ErrorNotification.tsx
  apps/passenger-app/src/components/R2MInput.css
  apps/passenger-app/src/components/R2MInput.tsx
  apps/passenger-app/src/components/RouteGuard.tsx
  apps/passenger-app/src/docs/README_AUTH.md
  apps/passenger-app/src/examples/authUsageExamples.tsx
  apps/passenger-app/src/hooks/useAuth.ts
  apps/passenger-app/src/hooks/useRouteProtection.ts
  apps/passenger-app/src/pages/LoginPage.tsx
  apps/passenger-app/src/pages/RegisterPage.tsx
  apps/passenger-app/src/pages/TwoFAPage.tsx
  apps/passenger-app/src/services/authService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

Path conditions:
  pnpm --filter @rout2me/passenger-app eslint --fix: any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}
  prettier -w: (any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}) or (any of: apps/admin-web/**/*.{ts,tsx,js,jsx})
  pnpm --filter @rout2me/admin-web eslint --fix: any of: apps/admin-web/**/*.{ts,tsx,js,jsx}
