Repository Cruz1122/rout2me: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

Add test of auth.validation and signup (org_key)
  infra/supabase/tests/_client.ts
  infra/supabase/tests/auth.validation.spec.ts
  infra/supabase/tests/signup.spec.ts
Due: none

refactor: Remove outdated documentation files for cache system, API error correction, Google OAuth setup, stop implementation, and routes system; streamline project structure
  apps/passenger-app/src/docs/CACHE_SYSTEM.md
  apps/passenger-app/src/docs/CORRECCION_API.md
  apps/passenger-app/src/docs/GOOGLE_OAUTH_SETUP.md
  apps/passenger-app/src/docs/IMPLEMENTACION_PARADAS.md
  apps/passenger-app/src/docs/README_ROUTES_SYSTEM.md
Due: none

fix(admin-web): Agregar carpeta public al repositorio
  .gitignore
  apps/admin-web/public/icon-metadata.webp
  apps/admin-web/public/icon.webp
  apps/admin-web/public/onboarding.png
  apps/admin-web/public/sw.js
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(admin-web): Mejorar visualización de roles de usuarios
  apps/admin-web/src/api/users_api.ts
  apps/admin-web/src/pages/Users.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(admin-web): Separar columnas de Rol y Organización con colores jerárquicos
  apps/admin-web/src/pages/Users.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix: Corregir validaciones nulas y mapeo de paradas
  apps/admin-web/src/api/route_variants_api.ts
  apps/admin-web/src/api/stops_api.ts
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/pages/Users.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor: Rename stop properties in route service for clarity
  apps/passenger-app/src/features/routes/services/routeService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Update LoginPage and R2M components for improved UI and functionality
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/routes/components/R2MMapInfoCard.tsx
  apps/passenger-app/src/features/routes/components/R2MResultsList.tsx
  apps/passenger-app/src/features/routes/components/R2MSearchBar.tsx
  apps/passenger-app/src/features/routes/components/R2MSearchOverlay.tsx
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/routes/hooks/useSearch.ts
  apps/passenger-app/src/features/routes/pages/LivePage.tsx
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/routes/services/recentSearchService.ts
  apps/passenger-app/src/features/routes/services/routeService.ts
  apps/passenger-app/src/features/routes/utils/markerUtils.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Remove alert for location timeout in useUserLocation hook to streamline user experience
  apps/passenger-app/src/features/system/hooks/useUserLocation.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Clean up LoginPage and optimize recent searches handling
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/routes/components/R2MResultsList.tsx
  apps/passenger-app/src/features/routes/components/R2MSearchBar.tsx
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Add Supabase integration and enhance LivePage navigation
  apps/passenger-app/package.json
  apps/passenger-app/src/features/routes/pages/LivePage.tsx
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  pnpm-lock.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

Test buses, routes, roles
  infra/supabase/tests/_client.ts
  infra/supabase/tests/admin-tests.md
  infra/supabase/tests/buses.spec.ts
  infra/supabase/tests/routes.spec.ts
  infra/supabase/tests/user.admin.spec.ts
Due: none

feat: Implementar gestión completa de vehículos y mejoras en usuarios
  apps/admin-web/src/api/auth_api.ts
  apps/admin-web/src/api/users_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/pages/AuthCallback.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/Users.tsx
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor: Enhance R2MMapInfoCard with animation states and content handling
  apps/passenger-app/src/features/routes/components/R2MMapInfoCard.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Implement fade-in and fade-out animations for bus and route markers
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/routes/utils/markerUtils.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: dark mode refactor: Update button styles across user pages for consistency
  apps/passenger-app/src/features/auth/pages/ForgotPasswordPage.tsx
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/pages/LivePage.tsx
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/routes/services/busService.ts
  apps/passenger-app/src/features/routes/utils/markerUtils.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/features/system/pages/WelcomePage.tsx
  apps/passenger-app/src/features/user/pages/ChangePasswordPage.tsx
  apps/passenger-app/src/features/user/pages/EditProfilePage.tsx
  apps/passenger-app/src/features/user/pages/JoinOrganizationPage.tsx
  apps/passenger-app/src/features/user/pages/LeaveOrganizationConfirmationPage.tsx
  apps/passenger-app/src/features/user/pages/LogoutConfirmationPage.tsx
  apps/passenger-app/src/features/user/pages/ThemeSelectionPage.tsx
  apps/passenger-app/src/shared/components/R2MModal.tsx
  apps/passenger-app/src/shared/components/R2MProfileButton.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

fix: type errors
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/routes/components/R2MResultsList.tsx
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/routes/utils/markerUtils.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Rename LivePage to BusesPage and update routing
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/features/routes/pages/BusesPage.tsx
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/system/hooks/useActiveTab.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/pages/ThemeSelectionPage.tsx
  apps/passenger-app/src/shared/components/AnimatedTabIcon.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Enhance route and stop management in HomePage and useRouteDrawing
  apps/passenger-app/src/features/routes/components/R2MMapInfoCard.tsx
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Update Capacitor dependencies and enhance caching strategies
  apps/passenger-app/package.json
  apps/passenger-app/public/sw.js
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/config/config.ts
  apps/passenger-app/src/features/auth/components/OAuthHandler.tsx
  apps/passenger-app/src/features/auth/hooks/useAuth.ts
  apps/passenger-app/src/features/auth/services/authService.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/components/BackButtonHandler.tsx
  apps/passenger-app/src/features/system/hooks/useBackButton.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/features/system/services/assetPreloader.ts
  apps/passenger-app/src/features/user/pages/ThemeSelectionPage.tsx
  apps/passenger-app/src/main.tsx
  apps/passenger-app/src/shared/utils/platform.ts
  apps/passenger-app/src/theme/variables.css
  pnpm-lock.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Implement deep link handling and OAuth improvements for mobile
  apps/passenger-app/capacitor.config.ts
  apps/passenger-app/public/auth-callback.html
  apps/passenger-app/src/config/supabaseClient.ts
  apps/passenger-app/src/docs/README_AUTH.md
  apps/passenger-app/src/features/auth/components/OAuthHandler.tsx
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/services/authService.ts
  apps/passenger-app/src/features/routes/components/R2MMapInfoCard.tsx
  apps/passenger-app/src/shared/utils/oauthRedirect.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Optimize performance and enhance caching strategies in passenger app
  apps/passenger-app/src/config/cacheConfig.ts
  apps/passenger-app/src/features/routes/components/R2MMapInfoCard.tsx
  apps/passenger-app/src/features/routes/components/R2MSearchOverlay.tsx
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/components/BusHandler.tsx
  apps/passenger-app/src/features/system/components/MapContainer.tsx
  apps/passenger-app/src/features/system/components/MapControls.tsx
  apps/passenger-app/src/features/system/components/RouteHandler.tsx
  apps/passenger-app/src/features/system/hooks/useMapEventHandlers.ts
  apps/passenger-app/src/features/system/hooks/useMapInitialization.ts
  apps/passenger-app/src/features/system/hooks/useRouteSelection.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/index.css
  apps/passenger-app/src/shared/hooks/useThrottle.ts
  apps/passenger-app/src/utils/deviceDetection.ts
  apps/passenger-app/src/utils/routeUtils.ts
  apps/passenger-app/vite.config.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Enhance EditProfilePage with avatar modal and profile data management
  apps/passenger-app/src/features/user/pages/EditProfilePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Revamp WelcomePage with multi-stage onboarding experience
  apps/passenger-app/public/icon-metadata-blue.webp
  apps/passenger-app/public/icon-metadata.webp
  apps/passenger-app/src/features/system/pages/WelcomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Enhance BackButtonHandler and useBackButton hook for improved navigation
  apps/passenger-app/src/config/navigationConfig.ts
  apps/passenger-app/src/features/system/components/BackButtonHandler.tsx
  apps/passenger-app/src/features/system/hooks/useBackButton.ts
  apps/passenger-app/src/features/system/hooks/useSmartNavigation.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Update deep link handling and clean up navigation configuration
  apps/passenger-app/public/auth-callback.html
Due: none

feat: Enhance touch interaction and bus location indication in R2MResultsList and BusesPage
  apps/passenger-app/src/features/routes/components/R2MResultsList.tsx
  apps/passenger-app/src/features/routes/pages/BusesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Refactor navigation and error handling in passenger app
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/config/navigationConfig.ts
  apps/passenger-app/src/features/auth/pages/ForgotPasswordPage.tsx
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/auth/pages/ResetPasswordPage.tsx
  apps/passenger-app/src/features/auth/pages/TwoFAPage.tsx
  apps/passenger-app/src/features/routes/pages/BusesPage.tsx
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/system/hooks/useActiveTab.ts
  apps/passenger-app/src/features/system/pages/AlertsPage.tsx
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/features/user/pages/ChangePasswordPage.tsx
  apps/passenger-app/src/features/user/pages/EditProfilePage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/shared/components/AnimatedTabIcon.tsx
  apps/passenger-app/src/shared/components/ConnectionError.tsx
  apps/passenger-app/src/shared/components/R2MErrorToast.tsx
  apps/passenger-app/src/shared/components/RouteErrorBoundary.tsx
  apps/passenger-app/src/shared/components/SafeSuspense.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Update passenger app with new icon generation feature and dependency enhancements
  apps/passenger-app/README.md
  apps/passenger-app/assets/icon.png
  apps/passenger-app/package.json
  apps/passenger-app/public/icon.png
  apps/passenger-app/public/icon.webp
  apps/passenger-app/src/features/system/pages/LocationPermissionPage.tsx
  apps/passenger-app/src/features/system/pages/WelcomePage.tsx
  apps/passenger-app/src/features/user/pages/EditProfilePage.tsx
  apps/passenger-app/src/shared/components/AnimatedTabIcon.tsx
  apps/passenger-app/src/shared/components/R2MButton.tsx
  apps/passenger-app/src/shared/components/SafeSuspense.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Integrate geolocation functionality and enhance location permission handling in passenger app
  apps/passenger-app/package.json
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/features/system/hooks/useLocationPermission.ts
  apps/passenger-app/src/features/system/pages/LocationPermissionPage.tsx
  apps/passenger-app/src/features/system/utils/checkLocationPermission.ts
  pnpm-lock.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Update .gitignore and ESLint configuration, enhance type safety in components
  apps/passenger-app/.gitignore
  apps/passenger-app/eslint.config.js
  apps/passenger-app/src/contexts/ThemeContext.tsx
  apps/passenger-app/src/features/auth/components/OAuthHandler.tsx
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/components/BusHandler.tsx
  apps/passenger-app/src/features/system/components/RouteHandler.tsx
  apps/passenger-app/src/features/system/hooks/useRouteSelection.ts
  apps/passenger-app/src/features/user/services/userService.ts
  apps/passenger-app/src/shared/components/RouteErrorBoundary.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Enhance type safety in useRouteSelection by updating marker type
  apps/passenger-app/src/features/system/hooks/useRouteSelection.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Add company filtering and display in BusesPage
  apps/passenger-app/src/features/routes/components/CompanyFilter.tsx
  apps/passenger-app/src/features/routes/pages/BusesPage.tsx
  apps/passenger-app/src/features/routes/services/busService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Implement real-time bus updates and enhance bus mapping logic
  apps/passenger-app/src/features/routes/hooks/useBusMapping.ts
  apps/passenger-app/src/features/routes/hooks/useBusRealtime.ts
  apps/passenger-app/src/features/routes/pages/BusesPage.tsx
  apps/passenger-app/src/features/routes/services/busService.ts
  apps/passenger-app/src/features/system/components/BusHandler.tsx
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Add driver location tracking and new bus management pages
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/config/navigationConfig.ts
  apps/passenger-app/src/features/user/components/DriverLocationTracker.tsx
  apps/passenger-app/src/features/user/hooks/useActiveBus.ts
  apps/passenger-app/src/features/user/hooks/useDriverLocationTracking.ts
  apps/passenger-app/src/features/user/pages/ActiveBusMenuPage.tsx
  apps/passenger-app/src/features/user/pages/DriverBusesPage.tsx
  apps/passenger-app/src/features/user/pages/JoinOrganizationPage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/services/driverService.ts
  apps/passenger-app/src/shared/components/R2MPageHeader.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Enhance theming and styling in ActiveBusMenuPage and DriverBusesPage
  apps/passenger-app/src/features/user/pages/ActiveBusMenuPage.tsx
  apps/passenger-app/src/features/user/pages/DriverBusesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

fix: Refactor bus update handling and cleanup logic in useBusRealtime hook
  apps/passenger-app/src/features/routes/hooks/useBusRealtime.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/features/user/pages/DriverBusesPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Improve real-time bus update handling in useBusRealtime hook
  apps/passenger-app/src/config/supabaseClient.ts
  apps/passenger-app/src/features/routes/hooks/useBusRealtime.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Mejorar visualización de ocupación y mensajes de estado
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

Path conditions:
  pnpm --filter @rout2me/passenger-app eslint --fix: any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}
  prettier -w: (any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}) or (any of: apps/admin-web/**/*.{ts,tsx,js,jsx})
  pnpm --filter @rout2me/admin-web eslint --fix: any of: apps/admin-web/**/*.{ts,tsx,js,jsx}
