Repository Cruz1122/rout2me: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix(passenger-app): cumple regla react-refresh/only-export-components separando hook de ErrorNotification
  apps/passenger-app/src/features/system/components/ErrorNotification.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor(passenger-app): update imports and restructure services for better organization
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/auth/pages/TwoFAPage.tsx
  apps/passenger-app/src/features/system/hooks/useErrorNotification.ts
  apps/passenger-app/vite.config.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: implementar sistema de layout dinámico y paleta de colores global
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/Layout.tsx
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/Sidebar.tsx
  apps/admin-web/src/index.css
  apps/admin-web/src/pages/HomePage.backup.tsx
  apps/admin-web/src/pages/HomePage.backup2.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
  apps/admin-web/src/styles/README.md
  apps/admin-web/src/styles/colors.ts
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(users): Implementar funcionalidad completa de usuarios con CRUD
  apps/admin-web/src/api/users_api.ts
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/Sidebar.tsx
  apps/admin-web/src/pages/Users.tsx
  apps/admin-web/src/pages/Users.tsx.backup
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

docs: Actualizar README con documentación completa del sistema de usuarios
  apps/admin-web/README.md
  apps/admin-web/src/pages/Users.tsx.backup
Due: none

Test CRUD and auth
  backend-tests/.env.example
  backend-tests/.env.test
  backend-tests/package-lock.json
  backend-tests/package.json
  backend-tests/tests/helpers/supabase.ts
  backend-tests/tests/user.admin.spec.ts
  backend-tests/tests/user.rest.crud.spec.ts
  backend-tests/tsconfig.json
Due: none

feat(passenger-app): add logout confirmation page and refactor headers in Live and Routes pages
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/features/routes/pages/LivePage.tsx
  apps/passenger-app/src/features/routes/pages/RoutesPage.tsx
  apps/passenger-app/src/features/user/pages/ChangePasswordPage.tsx
  apps/passenger-app/src/features/user/pages/LogoutConfirmationPage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/services/userService.ts
  apps/passenger-app/src/shared/components/R2MPageHeader.tsx
  apps/passenger-app/src/shared/components/R2MProfileButton.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat(vehicles): Implementar eliminación de vehículos y mejoras de UI
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

chore: Eliminar archivos backup innecesarios
  apps/admin-web/src/pages/HomePage.backup.tsx
  apps/admin-web/src/pages/HomePage.backup2.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(passenger-app): add Change Password feature and update ProfilePage navigation
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/features/user/pages/ChangePasswordPage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/services/userService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat(passenger-app): update README with backend integration details and new features
  apps/passenger-app/README-MAP.md
  apps/passenger-app/README.md
Due: none

feat(passenger-app): enhance back button accessibility in Login and Register pages
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat(passenger-app): enhance route fitting logic with info card handling
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: update CI workflow for Supabase environment variables and remove backend tests
  .github/workflows/ci.yml
  backend-tests/.env.example
  backend-tests/.env.test
  backend-tests/package-lock.json
  infra/supabase/package.json
  infra/supabase/tests/helpers/supabase.ts
  infra/supabase/tests/user.admin.spec.ts
  infra/supabase/tests/user.rest.crud.spec.ts
  infra/supabase/tsconfig.json
  pnpm-lock.yaml
Due: none

refactor(tests): streamline user tests by consolidating REST functions and improving assertions
  infra/supabase/tests/user.admin.spec.ts
  infra/supabase/tests/user.rest.crud.spec.ts
Due: none

feat(admin-web): Agregar mapas en tiempo real con MapLibre GL
  apps/admin-web/README.md
  apps/admin-web/index.html
  apps/admin-web/package.json
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/Layout.tsx
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/Sidebar.tsx
  apps/admin-web/src/main.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
  apps/admin-web/src/services/mapMatchingService.ts
  pnpm-lock.yaml
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: implementar gestión completa de rutas y mejorar sistema de colores
  apps/admin-web/README.md
  apps/admin-web/src/api/route_variants_api.ts
  apps/admin-web/src/api/routes_api.ts
  apps/admin-web/src/api/users_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/RouteMapEditor.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/Routes.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat(passenger-app): Implement recovery and reset password functionality
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/features/auth/components/RecoveryRedirect.tsx
  apps/passenger-app/src/features/auth/pages/ExpiredLinkPage.tsx
  apps/passenger-app/src/features/auth/pages/ForgotPasswordPage.tsx
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/ResetPasswordPage.tsx
  apps/passenger-app/src/features/auth/services/authService.ts
  apps/passenger-app/src/features/routes/hooks/useRouteDrawing.ts
  apps/passenger-app/src/features/system/hooks/useRouteProtection.ts
  apps/passenger-app/src/features/system/hooks/useUserLocationMarker.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
  apps/passenger-app/src/index.css
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

fix: resolve all linting errors for CI
  apps/admin-web/src/api/users_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/context/AuthContext.tsx
  apps/admin-web/src/pages/HomePage.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor(passenger-app): Enable user location marker only when the map is ready
  apps/passenger-app/src/features/system/hooks/useUserLocationMarker.ts
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

fix: resolve loadBusPositions initialization error in HomePage
  apps/admin-web/src/pages/HomePage.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix: Ignore errors when removing user location marker feat: Sort filtered buses by ascending distance from user location
  apps/passenger-app/src/features/auth/components/RecoveryRedirect.tsx
  apps/passenger-app/src/features/routes/pages/LivePage.tsx
  apps/passenger-app/src/features/system/hooks/useUserLocationMarker.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

Test mapVisualization, buses, routes, route search, selectRoute and routeOptions
  infra/supabase/.env.local.example
  infra/supabase/tests/_client.ts
  infra/supabase/tests/_seed.ts
  infra/supabase/tests/buses.spec.ts
  infra/supabase/tests/mapVisualization.spec.ts
  infra/supabase/tests/routeOptions.spec.ts
  infra/supabase/tests/routeSearch.spec.ts
  infra/supabase/tests/routes.spec.ts
  infra/supabase/tests/selectRoute.spec.ts
  infra/supabase/tsconfig.json
Due: none

feat: Sistema completo de asignación de rutas a vehículos
  apps/admin-web/README.md
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/RouteMapEditor.tsx
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: Implement R2M Sidebar component with responsive design and user navigation
  apps/admin-web/index.html
  apps/admin-web/src/components/GlobalLoader.css
  apps/admin-web/src/components/GlobalLoader.tsx
  apps/admin-web/src/components/Layout.tsx
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/PageHeader.tsx
  apps/admin-web/src/components/ProtectedRoute.tsx
  apps/admin-web/src/components/PublicRoute.tsx
  apps/admin-web/src/components/R2MLoader.css
  apps/admin-web/src/components/R2MLoader.tsx
  apps/admin-web/src/components/R2MSidebar.css
  apps/admin-web/src/components/R2MSidebar.tsx
  apps/admin-web/src/context/LoaderContext.tsx
  apps/admin-web/src/context/SidebarContext.tsx
  apps/admin-web/src/index.css
  apps/admin-web/src/main.tsx
  apps/admin-web/src/pages/AuthCallback.tsx
  apps/admin-web/src/pages/EmailVerified.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/pages/Routes.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Users.tsx
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix(admin-web): resolve all ESLint warnings and TypeScript errors
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/RouteMapEditor.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/pages/Routes.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Users.tsx
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

Test correction
  infra/supabase/tests/_client.ts
Due: none

feat: Add R2MSearchableList component for vehicle search functionality in LiveFleet
  apps/admin-web/src/components/R2MSearchableList.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

Add reusable components documentation for R2M including DetailDisplay, ActionButtons, Inputs, Selects, Modals, FilterSwitcher, and Tables
  apps/admin-web/index.html
  apps/admin-web/src/components/R2MActionButtons.tsx
  apps/admin-web/src/components/R2MActionIconButton.tsx
  apps/admin-web/src/components/R2MButton.tsx
  apps/admin-web/src/components/R2MDetailDisplay.tsx
  apps/admin-web/src/components/R2MFilterSwitcher.tsx
  apps/admin-web/src/components/R2MInput.tsx
  apps/admin-web/src/components/R2MModal.tsx
  apps/admin-web/src/components/R2MSelect.tsx
  apps/admin-web/src/components/R2MTable.tsx
  apps/admin-web/src/components/README_R2M_BUTTON.md
  apps/admin-web/src/components/README_R2M_COMPONENTS.md
  apps/admin-web/src/components/README_R2M_INPUTS.md
  apps/admin-web/src/components/README_R2M_MODAL.md
  apps/admin-web/src/components/README_R2M_TABLE.md
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/styles/colors.ts
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: Add AuthHeader component and R2MCheckbox component; refactor Vehicles page to use R2MSearchInput
  apps/admin-web/src/components/AuthHeader.tsx
  apps/admin-web/src/components/Navbar.tsx
  apps/admin-web/src/components/R2MCheckbox.tsx
  apps/admin-web/src/components/R2MFilterSwitcher.tsx
  apps/admin-web/src/components/R2MSearchInput.tsx
  apps/admin-web/src/components/R2MSearchableList.tsx
  apps/admin-web/src/components/R2MSidebar.tsx
  apps/admin-web/src/components/R2MTable.tsx
  apps/admin-web/src/components/README_AUTH_HEADER.md
  apps/admin-web/src/components/README_R2M_BUTTON.md
  apps/admin-web/src/components/README_R2M_COMPONENTS.md
  apps/admin-web/src/components/README_R2M_INPUTS.md
  apps/admin-web/src/components/README_R2M_MODAL.md
  apps/admin-web/src/components/README_R2M_TABLE.md
  apps/admin-web/src/components/RouteMapEditor.tsx
  apps/admin-web/src/pages/Routes.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Users.tsx
  apps/admin-web/src/pages/Vehicles.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor: Update AuthHeader and SignIn/SignUp pages for improved styling and structure
  apps/admin-web/src/components/AuthHeader.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: Integrate R2MFilterSwitcher for time filters and enhance dashboard layout
  apps/admin-web/src/pages/HomePage.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor: Optimize map initialization and geolocation handling for improved performance and faster loading
  apps/passenger-app/src/features/system/pages/HomePage.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

refactor: Update signup process to align with new endpoint format; enhance error handling and response structure
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/auth/services/authService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Implementar filtrado multi-tenant en gestión de vehículos
  apps/admin-web/.env.example
  apps/admin-web/GOOGLE_OAUTH_SETUP.md
  apps/admin-web/README.md
  apps/admin-web/package.json
  apps/admin-web/src/api/auth_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/Layout.tsx
  apps/admin-web/src/components/R2MSidebar.tsx
  apps/admin-web/src/context/AuthContext.tsx
  apps/admin-web/src/lib/supabase.ts
  apps/admin-web/src/pages/AuthCallback.tsx
  apps/admin-web/src/pages/ChangePassword.tsx
  apps/admin-web/src/pages/EmailVerified.tsx
  apps/admin-web/src/pages/ForgotPassword.tsx
  apps/admin-web/src/pages/HomePage.tsx
  apps/admin-web/src/pages/LiveFleet.tsx
  apps/admin-web/src/pages/ResetPassword.tsx
  apps/admin-web/src/pages/SignIn.tsx
  apps/admin-web/src/pages/SignUp.tsx
  apps/admin-web/src/pages/Vehicles.tsx
  apps/admin-web/src/pages/VerifyRecovery.tsx
  apps/admin-web/src/routes/AppRoutes.tsx
  pnpm-lock.yaml
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

feat: Implement Google OAuth authentication with Supabase
  apps/passenger-app/package.json
  apps/passenger-app/src/App.tsx
  apps/passenger-app/src/config/supabaseClient.ts
  apps/passenger-app/src/docs/GOOGLE_OAUTH_SETUP.md
  apps/passenger-app/src/features/auth/components/OAuthHandler.tsx
  apps/passenger-app/src/features/auth/hooks/useAuth.ts
  apps/passenger-app/src/features/auth/pages/ConfirmAccountPage.tsx
  apps/passenger-app/src/features/auth/pages/LoginPage.tsx
  apps/passenger-app/src/features/auth/pages/RegisterPage.tsx
  apps/passenger-app/src/features/auth/pages/ResetPasswordPage.tsx
  apps/passenger-app/src/features/auth/services/authService.ts
  apps/passenger-app/src/features/routes/components/R2MSearchBar.tsx
  apps/passenger-app/src/features/user/pages/ChangePasswordPage.tsx
  apps/passenger-app/src/features/user/pages/LogoutConfirmationPage.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/services/userService.ts
  apps/passenger-app/src/shared/components/R2MAvatar.tsx
  apps/passenger-app/src/shared/components/README_AVATAR_CACHE.md
  apps/passenger-app/src/shared/services/avatarCacheService.ts
  pnpm-lock.yaml
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Add organization management features to ProfilePage; implement organization badge and role-based actions
  apps/passenger-app/src/features/user/components/OrganizationBadge.tsx
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/features/user/services/userService.ts
  apps/passenger-app/src/shared/components/R2MAvatar.tsx
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

feat: Add stop management system for route variants
  apps/admin-web/README.md
  apps/admin-web/src/api/stops_api.ts
  apps/admin-web/src/components/StopEditor.tsx
  apps/admin-web/src/pages/Routes.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

fix: Corregir todos los errores y advertencias de ESLint
  apps/admin-web/src/api/stops_api.ts
  apps/admin-web/src/api/vehicles_api.ts
  apps/admin-web/src/components/StopEditor.tsx
  apps/admin-web/src/pages/ChangePassword.tsx
  apps/admin-web/src/pages/ResetPassword.tsx
  apps/admin-web/src/pages/SignUp.tsx
Due: prettier -w, pnpm --filter @rout2me/admin-web eslint --fix

refactor: Simplify error handling in auth and avatar cache services; improve user experience by suppressing error messages
  apps/passenger-app/src/features/auth/services/authService.ts
  apps/passenger-app/src/features/user/pages/ProfilePage.tsx
  apps/passenger-app/src/shared/services/avatarCacheService.ts
Due: pnpm --filter @rout2me/passenger-app eslint --fix, prettier -w

Path conditions:
  pnpm --filter @rout2me/passenger-app eslint --fix: any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}
  prettier -w: (any of: apps/passenger-app/**/*.{ts,tsx,js,jsx}) or (any of: apps/admin-web/**/*.{ts,tsx,js,jsx})
  pnpm --filter @rout2me/admin-web eslint --fix: any of: apps/admin-web/**/*.{ts,tsx,js,jsx}
